
/*
=Checkbox
============================================= */
.hb_checkbox {
	opacity: 0;
    position: fixed;
    height: 50px; width: 50px;
    left: 24px; top: 0px;
}

/*
=Label + Hamburger Wrapper
============================================= */
/*
=style the label + hamburger wrapper */

.hb_label,
.hb_wrapper {
	width: 26px;
	height: 26px;
	transform: translateX(4px);
	transition: transform 0.3s ease;
}

/*
=style the label */
.hb_label {
	/* background-color: lightskyblue; */
	position: absolute;
	z-index: 100;
	cursor: pointer;
	transition: .3s ease-in-out;
}

/*
=style the hamburger wrapper */
.hb_wrapper {
	/* background-color: gold; */
    width: 48px; height: 48px;
    border-bottom: solid 1.25px white;
    /* border-radius: 10px; */
	display: flex;
	/* justify-content: center; main or horizontal axis */
	align-items: center; /* cross or vertical axis */
    background-color: rgb(20 20 20);
	z-index: 99 ;

	/* experimenting */
	height: 54px;
	width: 100vw;
	border-radius: 0;
	top: 0; right: 0;
	position: fixed;
	padding: 0; margin: 0;

	transition: .25s ease-in-out !important;
}
 
/*
=Rotate Wrapper
============================================= */
/*
=style the rotate wrapper */
.hb_rotate-wrapper {
	width: 30px; height: 30px;
	display: flex;
	align-items: center;
	transition: .5s ease-in-out;
	margin-left: 30px;
}

/*
=rotate the rotate wrapper 135° clockwise */
.hb_checkbox:checked + div .hb_rotate-wrapper {
	transform: rotate(135deg);
}

/*
=rotate the X a further 90° clockwise on hover */
.hb_checkbox:checked:hover + div .hb_rotate-wrapper {
	transform: rotate(225deg); /* 90 + 135deg */
}

/*
=Hamburger Lines
============================================= */
/*
=style the hamburger lines */
.hb_lines,
.hb_lines::before, 
.hb_lines::after {
	background-color: white;
	height: 1.25px;
	width: 100%;
	transition: .3s ease-in-out;
}


/*
=create a new positioning context for the top + bottom lines */
.hb_lines {
	position: relative;
}

/*
=position the top + bottom lines */
.hb_lines::before,
.hb_lines::after {
	content: "";
	position: absolute;
	transition: .3s ease-in-out;
}

/*
=offset the top + bottom lines above + below the center line */
.hb_lines::before { top: -8px; }
.hb_lines::after { top: 8px; }


/*
=rotate + reposition the top + bottom lines */
.hb_checkbox:checked + div .hb_lines::before, 
.hb_checkbox:checked + div .hb_lines::after {
	transform: rotate(90deg);
	top: 0;
}

/*
=fade out the bottom line upon completion of the X */
.hb_checkbox:checked + div .hb_lines::after {
	opacity: 0;
}

/* ========================================== */

@media (max-width: 768px) {
.hb_wrapper {
	left: -4px;
	position: fixed;
	width: 100vw;
}

}