/* PAGE IMAGES 
============================== */
.page-img-full img {
	display: flex;
	max-width: 100%;
	height: auto;
	border-radius: 20px;
	margin-bottom: 40px;
}

.page-img-full { margin: 0 auto; }

/* NAV IMAGES
============================== */
.img-gallery {
    display: flex;
    flex-direction: column;
	display: grid;
	/* grid-template-columns: repeat(2, 1fr);
	gap: 0px; */
	max-width: auto;
	justify-content: center;
}

.img-gallery img {
	padding: 0;
}

.img-wrapper {
    margin: 0;
	padding: 5px;
	position: relative;
	/* margin-bottom: 10px; */
}

.img-wrapper img {
	display: flex;
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}

figcaption {
    font: 400 48px/1.5 "Montserrat", sans-serif;
    color: rgb(20 20 20);
}


/* MINOR NAV IMAGES 
============================== */
.img-gallery-minor {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
	max-width: auto;
}
.img-gallery-minor .img-wrapper { margin: 0; }

.img-gallery-minor .img-wrapper .img {
	height: auto;
	border-radius: 20px;
}

 /* IMAGE GALLERY FLOAT CAPTIONS 
 ============================== */
 .img-gallery figcaption,
 .img-gallery-minor figcaption{
	color: transparent; 
	text-transform: uppercase;
	font: 400 36px/1.5 "Montserrat", sans-serif;

	position: absolute;
	top: 5px; right: 5px; bottom: 5px; left: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	transition: 0.15s ease-in;
	padding: 10px;
    border-radius: 20px;
}

/* SINGLE IMAGE
============================== */
.img-single {
    display: flex;
	margin: 0;
	padding: 5px;
	position: relative;
	/* margin-bottom: 10px; */
}

.img-single img {
	display: flex;
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}



/* DOBULE SPAN IMAGE GALLERY ======================= 2 */
.double-span-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* grid-template-rows: repeat(2, 1fr); */
	gap: 10px;
	 justify-content: center; /* horizontal center  */
	align-items: center; /* vertical center */
	padding-top: 10px;
}

.double-span-wrapper figure { height: auto; width: auto;}

.double-span-wrapper img {
	width: 100%;
	border-radius: 20px;
} 

.double-span-wrapper p {
	width: 100%;
} 

/* TRI SPAN IMAGE GALLERY ======================= 3 */
.tri-span-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
	 justify-content: center; /* horizontal center  */
	align-items: center; /* vertical center */
	padding-top: 10px;

}
.tri-span-wrapper img {
	width: 100%;
	border-radius: 20px;
}

/* 
= Style the hover event */
.img-wrapper figcaption:hover {
	background-color: rgb(255 215 0/0.5);
	color: rgb(20 20 20);
}



/* HORIZONTAL SCROLL
======================================= */
.scroll-container {
	display: flex;
	overflow: auto;
	width: 100%;
	white-space: nowrap;
	background-color: rgb(20 20 20);
	height: 92vh;
	border: solid 1.5px darkgray;
	border-radius: 20px;
}

/* Scroll Items */
.scroll-content { 
	display:flex; 
	align-items: center;
}

.scroll-content img {
	display: flex;
	max-height: 90vh;
	padding: 0 10px;
}

/* scrollbar - apparently this doesn't work in firefox */
.scroll-content figure img:first-of-type {
	/* padding-left: 20px; */
	padding-left: 0;
}

.scroll-content figure:last-child {
	/* padding-right: 20px; */
	padding-right: 0;
}







/* MEDIA QUERIES
=======================*/

/* 
=Small screen < 576px
=============================== */
@media (max-width: 576px) { /* controls what happens between 576px and 786px */
	.img-gallery-minor { display: flex; flex-direction: column; max-width: auto; }
	.img-gallery-minor .img-wrapper { margin: 0; }
	.img-gallery-minor .img-wrapper .img { height: auto; 	border-radius: 20px; }

}
 
/* 
=Medium Screen > 768px  - Anything smaller than Medium
=============================== */
@media (max-width: 768px) {
	.tri-span-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		/* grid-template-rows: repeat(2, 1fr); */
		gap: 10px;
		 justify-content: center; /* horizontal center  */
		align-items: center; /* vertical center */
		padding-top: 10px;
	}
}

@media (max-width: 840px) { /* selected gallery images - collapse double span*/
	.img-gallery { 
		display: flex;
	   flex-direction: column;  }
}

/* 
=Medium Screen > 768px Start Collapse - Anything BIGGER than medium
=============================== */
@media (min-width: 768px) {
	/* fixing flex of small row gallery images*/
	

	
}

/* 
=Large Screen > 992px My Mac Window
=============================== */
@media (min-width: 992px) { 
/* fixing flex of small row gallery images*/
.img-gallery-minor {
    display: grid; grid-template-columns: repeat(2, 1fr); max-width: auto;
}
/* .img-gallery img { max-width: 800px; } */
.page-img-full {max-width: 800px; }

} 

/* 
=Xtra Large Screen > 992px Larger than Fullscreen Mac Window
=============================== */
@media (min-width: 1400px) { 
	.img-gallery-minor {
		display: grid; grid-template-columns: repeat(3, 1fr); max-width: auto;
	}

	/* .img-gallery {
		display: grid; grid-template-columns: repeat(2, 1fr); max-width: auto;
	} */
	.img-single { max-width: 1000px;}
	.img-gallery img { max-width: 1000px; }
	.page-img-full {max-width: 1000px; }

	

	
} 