

/* general */ 
nav { 
	display: flex;
	flex-direction: column; 
	/* width: 200px; */
	width: 200px;

	/* align-items: center;  */
	align-content: center;
	justify-items: center;
	z-index: 10;
} 

.main {
	position: fixed;
	margin: 0;
	padding-top: 20px;
	padding-left: 30px;
	background-color: rgb(20 20 20);
}

/* BOXES
=======================*/

#nav-box {
	
	/* border: solid 1.25px lightgray; */
	/* border-radius: 10px; */
	/* width: 272px; */
	width: 140px;
	margin-top: 12px;
	text-align: left; /* yuhh letsgo */
	transition: 0.075s ease-in;
}

#nav-box:hover { cursor: pointer; }

/* PAGE BOX
=======================*/
.page-nav {
	background-color: red;
}

.page-nav a {
	color: red;
}


/* SECONDARY LINE NAV */
.secondary #nav-box {
	border-top: solid 1.25px lightsteelblue;
	border-bottom: solid 1.25px lightsteelblue;
	border-radius: 0px;
	text-align: left;
	margin: 28px 0 26px 0px;
	padding-top: 6px; padding-bottom: 16px;
}

/* TERTIARY LINE NAV */
.tertiary #nav-box {
	border: none;
	/* border-left: solid 1.25px lightsteelblue; */
	border-radius: 0px;
	text-align: left;
	margin: 0;
	margin-top: 20px;
}


/* padding on top and bottom of the side box */
.secondary li:first-of-type { padding-top: 0px; } 
.secondary li:last-of-type { padding-bottom: 0px; } 


/* HOVER ANIMATIONS
================================ */
#nav-box:hover {
	/* border: solid 1.25px gold; */
}
#nav-box:hover h1 {
	color: gold;
	text-decoration-line: underline;
}

.secondary #nav-box:hover h1 {
	color: gold;
	text-decoration: none;
}

/* making sure the secondary box doesnt change */
.secondary #nav-box:hover {
	/* border: none; */
	/* border-left: solid 1.25px lightsteelblue; */
	border-radius: 0px;
	text-align: left;
	/* margin: 20px 0 10px 14px; */
}

.tertiary #nav-box:hover {
	border: none;
	/* border-left: solid 1.25px lightsteelblue; */
	border-radius: 0px;
	/* margin: 20px 0 12px 34px; */
}

/* styling the secondary list hovers */
.secondary #nav-box li a:hover { color: gold; }
.tertiary #nav-box li a:hover { color: gold; }

/* styling the text transitions */
#nav-box h1 { transition: 0.075s ease-in; }
.secondary #nav-box li { transition: 0.075s ease-in; }


/* Attempting to code in the checkbox to work!!! */

.hb_checkbox:checked ~ .main {
	top: 160px;
	background-color: rgb(20 20 20/0.95);
	height: 260px;
	border-top: solid 1.25px white;
	border-bottom: solid 1.25px white;
}



/* MEDIA QUERIES
=======================*/

/* 
=Small screen < 576px
=============================== */
@media (max-width: 576px) { /* controls what happens between 576px and 786px */
	
}
 
/* 
=Medium Screen > 768px  - Anything smaller than Medium
=============================== */
@media (max-width: 768px) {
	nav { 
		top: -800px;
		margin: 0 auto; 
		display: flex;
		flex: 1 0 auto;
	 } 

	.main {
		display: flex;
		margin: 0 auto;
		/* padding: 80px 0 0 0; */
		/* justify-content: center; */
		width: 100vw;
		align-items: center;
	}

	#nav-box h1 { 
		font: 400 22px/1.5 "Montserrat", sans-serif; 
		align-content: center;
		padding: 20px 0 0 0;
		margin: 28px;
	}

	.secondary #nav-box { display: none; }
	.tertiary #nav-box { display: none; }

#nav-box {
	width: 75vw;
	height: 30px;
	text-align: center;
	margin-bottom: 10px;
}
nav { text-align: center; }
.main { padding: 0; }
nav a { height: 30px; padding-bottom: 20px;}

/* fixes problem of checkbox being checked when it is supposed to be hidden */
.hb_checkbox {
	z-index: 100;
}
}

/* 
=Medium Screen > 768px Start Collapse - Anything BIGGER than medium
=============================== */
@media (min-width: 768px) {
	.hb_wrapper { display: none; }
	.hb_label { display: none;}
	.hb_rotate-wrapper { display: none; }
	.hb_lines { display: none; }
	.hb_label { display: none; }
	#wrapper { display: none; }

}

/* 
=Large Screen > 992px My Mac Window
=============================== */
@media (min-width: 991.98px) { 
	
} 

/* 
=Xtra Large Screen > 992px Larger than Fullscreen Mac Window
=============================== */
@media (min-width: 1300px) { 
	/* .nav { width: 200px; }
	#nav-box { width: 320px; margin-left: 80px; }
	.secondary #nav-box { margin: 20px 0 0 100px; } */
} 
