* {  
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
} 

:root {
	-webkit-text-size-adjust: none; /* for older versions of chrome(?) and soemthing (?) */
			text-size-adjust: none;
}

html {
	scroll-behavior: smooth;
	background-color: rgb(20 20 20);
}

main {
	margin: 0;
}

.page-wrapper {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-left: 270px; padding-right: 100px; padding-top: 52px;
	justify-content: center;
}

/* PAGE STRUCTURES
=======================*/

/* double span - two columns ======================== 2 */
.double-span {
	display: flex;
	flex-direction: row;
	/* flex: 1 0 50%; */
	justify-content: center; /* horizontal center */
	align-items: center; /* vertical center */
}
.double-span-1 {
	width: 50%;
	justify-content: center;
	/* text-align: center; */
	padding-right: 10px;
}

.double-span-1 p {
	text-align: left;
}

.double-span-2 {
	width: 50%;
	padding-left: 10px;
	justify-content: center;
	text-align: center;
}

.double-span-2 img { width: 100%; border-radius: 20px; }

/* HERO BOX 
========================= */



/* F00TER
========================= */
footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	border-top: solid 1.5px lightgrey;
	background-color: rgb(20 20 20);
	font: 400 16px/1.5 "Montserrat", sans-serif;
	color: lightsteelblue;
	max-height: 54px;
	padding: 12px 40px 12px 40px;
	text-decoration: none;
	z-index: 10;
}


/* SPACE
=======================*/

.space {
	height: 100px;
}

.space-small {
	height: 60px;
}


/* BUTTONS
=======================*/
button {
	padding-top: 10px;
	padding-bottom: 10px;
}
.buttons {
	padding-top: 30px;
	display: flex;
	flex-direction: row;
}

.buttons a {
	display: flex;
	flex: 1 1 auto;
}

.button {
	display: flex;
	flex: 1 1 50%;
	width: 100%;
}

a .button button {
	font: 400 16px/1.5 "Montserrat", sans-serif;
	color: lightgrey;
	border: solid 1.25px lightgrey;
	height: auto;
	width: 100%;
	border-radius: 20px;
	background-color: rgb(20 20 20);
}

.buttons a:nth-of-type(1) .button button {
	margin-right: 10px;
}

.buttons a:nth-of-type(2) .button button {
	margin-left: 10px;
}

a .button button:hover {
	color: gold;
	border: solid 1.25px gold;
}


/* MEDIA QUERIES
=======================*/

/* 
=Small screen < 576px
=============================== */
@media (max-width: 576px) { /* controls what happens between 576px and 786px */

	/* stack the footer */
	footer { 
		padding: 13px 0 10px 22px; 
		position: static; bottom: 0;
	 }
		

}

 
/* 
=Medium Screen > 768px  - Anything smaller than Medium
=============================== */
@media (max-width: 768px) {
	.page-wrapper { padding: 72px 18px 0 18px; }

	/* double span ordering*/
	.double-span { flex-direction: column; flex: 1 0 auto; }
	.double-span .double-span-1 { width: 100%; order: 2}
	.double-span .double-span-2 { width: 100%; order: 1}
	.double-span-2 figure img { width: 100%; order: 1}


}


/* 
=Medium Screen > 768px Start Collapse - Anything BIGGER than medium
=============================== */
@media (min-width: 768px) {
	
	
}

/*  
=Large Screen > 992px My Mac Window
=============================== */
@media (min-width: 992x) { 
	
} 

/* 
=Xtra Large Screen > 992px Larger than Fullscreen Mac Window
=============================== */
@media (min-width: 1600px) { 
	.page-wrapper { 
		max-width: 1400px;
		padding-left: 200px; padding-right: 200px; padding-top: 48px;
	}

} 




