 
/* HEADERS  */ 
 h1 {
 	font: 400 56px/1.2 "Montserrat", sans-serif;
	color: white;
	padding-bottom: 18px; 
	letter-spacing: -1px;
 }

/* hero h1 was moved to hero.css */

 .page-title {
	font: 400 70px/1.2 "Montserrat", sans-serif;
	padding: 80px 0 60px 0;
	text-align: center;
}

 h2 {
	font: 400 28px/1.5 "Montserrat", sans-serif;
   color: white;
   padding-bottom: 8px;
   padding-top: 20px;
}

 h1 a { 
 	text-decoration: none;
 	color: white;
 }

 h3 {
	font: 500 18px/1.5 "Montserrat", sans-serif;
	color: white;
 }

/* removing the nav link underlines*/

a { text-decoration: none; }


 /* LIST ITEMS 
 ===========================*/

 li {
 	font: 400 16px/1.5 "Montserrat", sans-serif;
 	list-style-type: none;
 }

 /* for when theres a vertical bar in front of the list*/
 .line-list li {
	font: 400 16px/1.6 "Montserrat", sans-serif;
	color: lightgray;
	padding-top: 4px;
}

.double-list li {
	font: 400 16px/1.6 "Montserrat", sans-serif;
	color: lightgray;
	padding-top: 4px;
}


 /* Experimental Project details
 ===========================*/
 .project_details {
	display: flex;
	flex-direction: row;
 }

 .project_details p {
	font: 400 16px/1.6 "Montserrat", sans-serif;
	color: lightgrey;
 }

/* LINE LISTS
=======================*/
.line-list {
	padding: 0p 0 0 0px;
	border-left: solid 1.25px lightsteelblue;
	padding-left: 14px;
}

.tertiary > #nav-box > ul li:last-child { padding-bottom: 0; }

.double-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	
	/* flex: 1 0 50%; */
}

.double-list > .list-grid {
	padding: 0px 0 0 20px;
	border-left: solid 1.25px lightsteelblue;
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* NAV TYPE
=======================*/
nav h1 { 
	padding-top: 10px; padding-bottom: 0px;
	font: 400 18px/1.5 "Montserrat", sans-serif;
	color: lightgrey;
	letter-spacing: -0.2px;
}

/* nav a { color: lightgrey; 
	background-color: rgb(20 20 20);
 } */


/* Secondary */
.secondary a h1 {
	font: 400 18px/1.4 "Montserrat", sans-serif;
	text-decoration: none;
	color: lightsteelblue;
}

.secondary a {
	text-decoration: none;
}

/* Tertiary */
.tertiary li {
	/* padding-top: 2px; padding-bottom: 2px; */
	font: 400 18px/1.5 "Montserrat", sans-serif;
	text-decoration: none;
	/* padding-left: 12px; */
	padding-bottom: 10px;
}

.tertiary li a {
	color: lightsteelblue;
	text-decoration: none;
}


/* BODY TYPE
=======================*/

p {
	font: 400 16px/1.6 "Montserrat", sans-serif;
	color: lightgray;
	padding-bottom: 6px;
	padding-top: 4px;
	max-width: 780px;

	letter-spacing: -0.1px;
}

p > a { 
	text-decoration-line: underline;
	color: gold; 
}


/* CAPTIONS
=======================*/

.img-and-caption p {
	font: 400 14px/1.6 "Montserrat", sans-serif;
	color: lightsteelblue;
	padding: 2px 0 10px 10px;
}

/* FOOTER TYPE
=======================*/
footer a { /* katherine garland (so they dont forget who theyre looking at) */
	text-decoration: none;
	color: inherit;
	color: lightgrey;
}

footer a:hover { color: gold; text-decoration: underline; }

/* footer p {
	font: 400 16px/1.5 "Montserrat", sans-serif;
} */


/* MEDIA QUERIES
=======================*/

/* SMALL SCREEN */
@media (max-width: 576px) {
	.page-title { font: 400 46px/1.2 "Montserrat", sans-serif; } 

	.double-list { display: flex; flex-direction: column; }
	.double-list .list-grid:first-of-type { padding-bottom: 14px; }

	footer p {
		font: 400 14px/1.5 "Montserrat", sans-serif;
	}
}

/* medium screen */
@media (max-width: 768px) {
	.page-title {  padding-top: 20px; }
	nav a { background-color: rgb(20 20 20/0.0); }

	h1 {
		font: 400 56px/1.2 "Montserrat", sans-serif;
	   color: white;
	   padding-bottom: 20px; 
	   letter-spacing: -1px;
	}
   
	.page-title {
	   font: 400 64px/1.2 "Montserrat", sans-serif;
	   padding: 80px 0 60px 0;
	   text-align: center;
   }
   
	h2 {
	   font: 400 34px/1.5 "Montserrat", sans-serif;
	  color: white;
	  padding-bottom: 10px;
	  padding-top: 28px;
   }
}

@media (min-width: 992px) {
	.img-gallery figcaption {  font: 400 64px/1.5 "Montserrat", sans-serif; }
}

@media (min-width: 1400px) {
	.img-gallery figcaption {  font: 400 84px/1.5 "Montserrat", sans-serif; }
}